alembic==1.13.1
beautifulsoup4==4.12.3
Flask==3.0.2
Flask_Bcrypt==1.0.1
Flask_Login==0.6.3
Flask_Mail==0.9.1
Flask_Migrate==4.0.6
Flask_SQLAlchemy==3.1.1
Flask_WTF==1.2.1
itsdangerous==2.1.2
pandas==2.0.3
Pillow==10.2.0
Requests==2.31.0
SQLAlchemy==2.0.28
WTForms==3.1.2

pytest==8.1.1
pytest-cov==4.1.0
pylint==3.1.0
black==24.2.0
fire==0.5.0
python-dotenv==1.0.1