{% extends "layout.html" %}
{% block content %}
  
  </div>
  </div>
  <div class="container">

    <h1 class="article-title montserrat-textfont mt-5 mb-5" style="text-align: center;">Centraliseret Data, Effektiv Analyse, Og Præcise Beregninger</h1>

    <div class="filler mb-4" style="color: rgba(0,0,0,0);">
      Hidden Easter Egg
    </div>
      <div class="filler mb-4" style="color: rgba(0,0,0,0);">
       congrats :D
    </div>

    <div class="row">
      <div class="col-6 border-shape shadow-black-background oswald-textfont" style="background-color: lightblue; background: linear-gradient(lightblue, #9198e5);">
          <h4 style="margin-top: 15%; text-align: left; color: #2c2e2c;  line-height: 1.7; display: inline-block;">
             <b>Velkommen til Bolig Info, din ultimative platform for boliginvestorer og købere.</b> <br><br> 

             <small style="line-height: 1;">
               Vi har skabt et unikt værktøj, der revolutionerer din tilgang til ejendomsinvestering ved at samle alle nødvendige data om boliger til salg i Danmark på ét sted.
             </small>
         </h4>
      </div>
      <div class="col-3"></div>
      <div class="col-3" style="align-items: right;">
        <iframe src='https://my.spline.design/strip-110ae2fc29ff7fc869ba3c6f957ffd09/' frameborder='0' width='100%' height='100%' style="min-height: 400px; min-width:490px;"></iframe>
      </div>
    </div>


    <div class="row">
      <div class="col-4">

      </div>
      <div class="col-8">
        <h2 class="article-title montserrat-textfont mt-5 mb-5" style="text-align: right;">Gå på opdagelse i et hav af nye <br> Investerings/Bolig værktøjer</h2>
      </div>
    </div>
    
  </div>

   <div class="card-deck mb-3 text-center">
  <div class="container">
    <div class="row" style="display: flex">

      <div class="col-3">
        <div class="card mb-1 mt-5 box-shadow" style="background-color: #0e1111;">
              <div class="card-header" style="background-color: #34eb83; ">
                <h4 class="my-0 font-weight-normal" style="color: #232b2b;">Download Data</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title"><span class="material-symbols-outlined md-light" style="font-size:60px;">print</span></h1>
                <ul class="list-unstyled mt-3 mb-4" style="color: grey;">
                  <li>Mulighed for at downloade til Excel.</li>
                  <li>Find data for alle postnumre i Danmark</li>
                </ul>
                <button type="button" id="customhover" class="btn btn-lg btn-block btn-outline-primary" style="border-color: lightblue; color: #34eb83;" onclick="window.location='{{ url_for('software.dashboard') }}'">Vis mere</button>
              </div>
            </div>
      </div>

      <div class="col-3">
        <div class="card mb-1 mt-5 box-shadow" style="background-color: #0e1111;">
              <div class="card-header" style="background-color: #34d9eb; ">
                <h4 class="my-0 font-weight-normal" style="color: #232b2b;">Analyser Data</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title"><span class="material-symbols-outlined md-light" style="font-size:60px;">candlestick_chart</span></h1>
                <ul class="list-unstyled mt-3 mb-4" style="color: grey;">
                  <li>Beregn og værdisæt større mængder</li>
                  <li>af boliger lynhurtigt</li>
                  <li style="color: #0e1111;">.</li>
                </ul>
                <button type="button" id="customhover" class="btn btn-lg btn-block btn-outline-primary" style="border-color: lightblue; color: #34d9eb;" onclick="window.location='{{ url_for('software.dashboard') }}'">Vis mere</button>
              </div>
            </div>
      </div>

      <div class="col-3">
        <div class="card mb-1 mt-5 box-shadow" style="background-color: #0e1111;">
              <div class="card-header" style="background-color: #ebc934; ">
                <h4 class="my-0 font-weight-normal" style="color: #232b2b;">Investering</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title"><span class="material-symbols-outlined md-light" style="font-size:60px;">monitoring</span></h1>
                <ul class="list-unstyled mt-3 mb-4" style="color: grey;">
                  <li>Beregn renten og</li>
                  <li>rentabiliteten af en investering</li>
                  <li style="color: #0e1111;">.</li>
                </ul>
                <button type="button" id="customhover" class="btn btn-lg btn-block btn-outline-primary" style="border-color: lightblue; color: #ebc934;" onclick="window.location='{{ url_for('software.calculator') }}'">Vis mere</button>
              </div>
            </div>
      </div>

         <div class="col-3">
        <div class="card mb-1 mt-5 box-shadow" style="background-color: #0e1111;">
              <div class="card-header" style="background-color: #dc34eb; ">
                <h4 class="my-0 font-weight-normal" style="color: #232b2b;">Forespørgsler</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title"><span class="material-symbols-outlined md-light" style="font-size:60px;">construction</span></h1>
                <ul class="list-unstyled mt-3 mb-4" style="color: grey;">
                  <li>Vi udvikler løbende.</li>
                  <li>Forslå gerne forbedringer</li>
                  <li>eller features</li>
                  <li style="color: #0e1111;">.</li>
                </ul>
                <button type="button" id="customhover" class="btn btn-lg btn-block btn-outline-primary" style="border-color: lightblue; color: #dc34eb;" onclick="window.location='{{ url_for('contacts.contact') }}'">Vis mere</button>
              </div>
            </div>
      </div>

      </div>
    </div>
  </div>
  </div>
{% endblock content %}
