{% extends "layout.html" %}
{% block content %}
    <div class="content-section-login">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Reset Password</legend>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
            <div class="row"> 
             <div class="spacer">

            </div>
            </div>
        </form>
    </div>
      </div>
        <div class="col-md-4">
          <img class="d-none d-sm-block" src="{{ url_for('static', filename='img/Login.jpg') }}">
        </div>
    </div>
{% endblock content %}
